# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Large files and directories
data/

# System metadata
.DS_Store
graphs.png
graphs_hydro.png
saved_sklearn_models/forest.joblib
saved_sklearn_models/forest.rar
